<ion-content>
  <div *ngIf="show">
    <ion-item
      *ngFor="let item of events"
      color="light"
      class="ion-text-center rounded"
      (click)="showModal.showModal(item)">
      <ion-chip class="myAvatar">
        <ion-avatar class="round">
          <ion-img src="../../../assets/galeria/Logo.png"></ion-img>
        </ion-avatar>
        <ion-label style="margin-left: 10px;">{{item.name}}</ion-label>
      </ion-chip>
      <ion-button
        slot="end"
        color="ligth"
        style="background-color: #764ba2;border-radius: 6px;border: 2px solid #d8e9ff;"
      >
        details
      </ion-button>
    </ion-item>
  </div>
</ion-content>
