<ion-header>
  <ion-toolbar color="customSecondry">
    <ion-item color="customSecondry">

      <ion-back-button
      [text]="Back"
      [icon]="buttonIcon">
    </ion-back-button>
    <ion-title style="text-align: center;margin: auto;">Edit Event</ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color="customFive">
  <ion-item lines="none" color="customFive" style="margin: 0px 0px;width: 100%;">
    <div style=" width:100%;padding: 10% 0px;height: 100%;">
      <ion-avatar style="margin: auto; width: 90px;height: 90px; border: 3px solid;">
          <img src="../../../assets/galeria/portadaCollage.jpg">
        </ion-avatar>
      </div>
  </ion-item>
  <ion-item color="customFive">
    <ion-label>
      Visibility
    </ion-label>
    <ion-select placeholder="Visibility">
      <ion-select-option>Public</ion-select-option>
      <ion-select-option>Private</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item color="customFive">
      <ion-label>
        Price: 
      </ion-label>
      <ion-input type="number" style="text-align: right;"></ion-input>
  </ion-item>
  <ion-item color="customFive">
      <ion-label>Capacity: </ion-label>
      <ion-input type="number" style="text-align: right;"></ion-input>
    </ion-item> 
      <ion-button color="customSecondry" expand="full" fill="outline" (click)="changeLocation()">
        Change Location
      </ion-button>
</ion-content>
    <ion-footer>
      <ion-item color="light">
        <ion-button slot="end" color="customSecondry" style="width: 100%; margin:0px auto" expand="full" fill="solid">
          Done
        </ion-button>         
      </ion-item>
    </ion-footer>
