<ion-content color="customQuince">
  <div >
    <img  style="margin: 10% auto; display: block;" src="assets/galeria/LogoMain.png" />
    <form [formGroup]="grupoControl">
      <ion-item>
        <ion-label position="floating">User</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="user.email"
          formControlName="letraNumeros"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="user.password"
          formControlName="letraNumeros"
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="!grupoControl.get('letraNumeros').valid&&grupoControl.get('letraNumeros').dirty"
      >
        <ion-label color="danger">
          No es valido
        </ion-label>
      </ion-item>
    </form>
    <ion-button
      color="testN"
      expand="block"
      (click)="login()"
      [disabled]="!grupoControl.get('letraNumeros').valid&&grupoControl.get('letraNumeros').dirty"
      >Login</ion-button
    >
    <p class="ion-text-center">Or</p>
    <ion-button [routerLink]="['/sign-up']" expand="block" color="testN"
      >Sign Up</ion-button
    >
  </div>
</ion-content>
