<ion-content color="customQuince">
  <div >
    <img  style="margin: 10% auto; display: block;" src="assets/galeria/LogoMain.png" />
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confrim Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.cpassword" required></ion-input>
    </ion-item>

    <ion-button 
      color="testN" 
      expand="block" (click)="signUp()" >Sign Up</ion-button>
      <p class="ion-text-center">Or</p>
      <ion-button [routerLink]="['/login']" expand="block" color="testN">Login</ion-button>
  </div>
</ion-content>
