<ion-content color="customTwelve">
  <ion-item color="customTrece">
  
    <ion-icon name="Search" (click)="findEvent()" style="padding:0.2em;"></ion-icon>
    <ion-input type="text" (keydown)="findEvent()" [(ngModel)]="searchValue" placeHolder="Search"></ion-input>
    
  </ion-item >
  <ion-item color="cusotmTece">
    <ion-label>Advanced Serach</ion-label>
    <ion-toggle [(ngModel)]="advanced"></ion-toggle>
  </ion-item>    
      <div *ngIf="advanced">
        <ion-item color="cusotmTece">
          <ion-label>Search By</ion-label>
          <ion-select placeholder="Search By" [(ngModel)]="searchOptions">
          <ion-select-option value="capacity">Capacity</ion-select-option>
          <ion-select-option value="owner">Owner</ion-select-option>
          <ion-select-option value="name">Name</ion-select-option>
        </ion-select>
      </ion-item>
        </div>
      <div *ngIf="mostrar">
        
        <ion-item *ngFor="let item of events" (click)="showItem(item)" color="customTrece" lines="none">
          <ion-label>
            {{item.name}}
          </ion-label>
        </ion-item>
      </div>
      <ion-infinite-scroll threshold="10px" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="cargando mas cosas...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
      </ion-content>
