<ion-header>
  <ion-toolbar>
    <ion-title>registUserProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input type="text" [(ngModel)]="user.firstName" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="user.lastName" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">DNI</ion-label>
    <ion-input type="text" [(ngModel)]="user.dni" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">BirthDay</ion-label>
    <ion-input type="date" [(ngModel)]="user.birthdate" required></ion-input>
  </ion-item>
  <ion-button 
    color="primary" 
    expand="block" (click)="createProfile()" >Create Profile</ion-button>
    <p class="ion-text-center">Or</p>
    <ion-button [routerLink]="['/sign-up']" expand="block" color="primary">Sign Up</ion-button>
</ion-content>
