<ion-content class="home auth-form" color="customQuince">
  <ion-slides pager="false" color="customTrece">
    <ion-slide>
      <div style="width: 100%;">
        <img style="vertical-align: center;" src="assets/galeria/Logo2.png" width="100%" />
      </div>
    </ion-slide>
    <ion-slide style="background-color: white;">
      <div style="display: block;margin:0 auto;height: 80vh;width: 100vw;">
        <div style="width: 100%;display: block;">
          <img style="vertical-align: center;" src="assets/galeria/Logo2.png" width="100%" />
        </div>
        <app-landing-component></app-landing-component>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
