<ion-content color="customTwelve">
  <div style="margin-top:2px" color="customTwelve">
    <ion-item
    *ngFor="let item of friends"
      lines="none"
      color="customTwelve"
      class="ion-text-center"
      style="border-bottom: 3px solid;"
      >
      <ion-item color="customTwelve" lines="none">
        <ion-avatar style="margin: 2px; border: 3px solid;">
          <ion-img src="../../../assets/galeria/Universo.jpg"></ion-img>
        </ion-avatar>
        <ion-label>{{item}}</ion-label>
      </ion-item>
      <ion-button
        slot="end"
        color="customTrece"
        (click)="seeProfile(item)"
      >
        details
      </ion-button>
    </ion-item>
  </div>
</ion-content>
